NODE_ENV=production

S3_ENDPOINT=https://fsn1.your-objectstorage.com
S3_REGION=fsn1
S3_BUCKET=my-bucket
S3_PREFIX=ragflow
S3_ACCESS_KEY_ID=your-access-key
S3_SECRET_ACCESS_KEY=your-secret-key

STRAPI_BASE_URL=https://api.thilo.scouts.ch
